{{ form(form) }}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id продукта', 'p.id') }}</th>
        <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Название', 'p.name') }}
        </th>
        <th{% if pagination.isSorted('a.weight') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Вес', 'p.weight') }}
        </th>
        <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Тип', 'p.category_id') }}
        </th>
        <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Описание', 'p.description') }}
        </th>

    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.weight }}</td>
            <td>{{ article.categoryId.name }}</td>
            <td>{{ article.description }}</td>
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

